h1{
    color: pink;
    font-size: 90px;
}
p{
    color: green;
    font-size:16px;
}
.maincolor{
    color: blue;
    font-family: cursive;
}
#customfont{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}